/* Estilo para a página */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* O conteúdo principal tem rolagem acima do footer */
body, html {
	height: 100%;
}

/* Conteúdo da página */
.content {
	padding: 20px;
	padding-bottom: 60px;
	/* Espaço extra para garantir que o conteúdo não fique atrás do footer */
	overflow-y: auto; /* Permite rolar o conteúdo */
	height: calc(100vh - 60px);
	/* Calcula a altura restante, considerando o footer fixo */
}

.alturaLogo {
	height: 50px;
	width: auto;
}

.flex {
	display: flex;
}

.ml-auto {
	margin-left: auto;
}

.ml-4 {
	margin-left: 1.5rem;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-5 {
	margin-top: 2rem;
}
.pt-1 {
	padding-top: 0.25rem;
}
#menu {
	background-color: #f8f9fa;
	text-align: right;
	position: inherit;
	width: 100%;
}

.footer {
	background-color: #3584e4 !important;
	color: #ffffff !important;
	padding: 2rem 0 !important;
	text-align: center !important;
}

.footer h3, .footer h4 {
	margin-bottom: 1rem !important;
}

.footer a {
	color: #ffffffb3 !important;
	text-decoration: none !important;
}

.footer a:hover {
	color: #ffffff !important;
}